@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

body, html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100vw;
}

h1{
    text-transform: uppercase;
    font-weight: 800;
}

h5{
    font-weight: 700;
    font-size: .7em;
    color: #aaa;
}

ul > li:first-child a{
    color: black;
}

.mobile_nav > a:first-child{
    color: black;
}



/* ----------------------------------------------------------- */


.title_section{
    height: 200px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}





/* -------------------------------------------------------- */


.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scroll_photos{
    position: relative;
    width: 100vw;
    height: auto;
    padding: 40px 0 0 0;
    overflow-x: scroll;
    overflow-y: hidden;
}

.scroll_photos::-webkit-scrollbar{
    display: none;
}

.scroll_photos_div{
    position: relative;
    display: flex;
    width: fit-content;
    height: fit-content;
    left: 0;
    overflow: auto;
    scroll-behavior: smooth;
    transition: .5s;
    right: auto;
}

.photo_div{
    width: 25vw;
    overflow: hidden;
    
}

.photo_div img{
    width: 25vw;
}

.scroll_navigation{
    position: absolute;
    width: 100%;
    display: block;
    transform: translateY(-15px);
    z-index: 50;
}

.scroll_navigation_left{
    position: absolute;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    height: 70px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.scroll_navigation_right{
    position: absolute;
    right: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    height: 70px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* ------------------------------------- */



@media screen and (min-width: 777px) and (max-width: 1200px){

    .photo_div{
        width: 33vw;
        overflow: hidden;
    }
    
    .photo_div img{
        width: 33vw;
    }

}



/* -------------------------------------- */

@media screen and (min-width: 430px) and (max-width: 776px){

    .photo_div{
        width: 50vw;
        overflow: hidden;
    }
    
    .photo_div img{
        width: 50vw;
    }

}


/* -------------------------------------- */

@media screen and (max-width: 430px){

    .photo_div{
        width: 100vw;
        overflow: hidden;
    }
    
    .photo_div img{
        width: 100vw;
    }

}